.sidebarChat {
	display: flex;
	padding: 20px;
	cursor: pointer;
	border-bottom: 1px solid #f6f6f6;
	transition: 150ms ease-in-out;
}

.sidebarChat:hover {
	background-color: #97e0bb;
	color: white;
}

.sidebarChat__info {
	flex: 1;
	margin-left: 15px;
}

.sidebarChat__info > h2 {
	font-size: 16;
	margin-bottom: 8px;
}

.sidebarChat__lastMessage {
	flex: 1;
	display: flex;
	justify-content: space-between;
}

a {
	text-decoration: none !important;
	color: black;
}
